<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountManagementController</servlet-name>
        <servlet-class>AccountManagement.AccountManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManagementController</servlet-name>
        <servlet-class>CustomerManagement.CustomerManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementController</servlet-name>
        <servlet-class>OrderManagement.OrderManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryOrderManagementController</servlet-name>
        <servlet-class>OrderManagement.DeliveryOrderManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderManagementController</servlet-name>
        <servlet-class>OrderManagement.PurchaseOrderManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceManagementController</servlet-name>
        <servlet-class>OrderManagement.InvoiceManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountManagementController</servlet-name>
        <url-pattern>/AccountManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManagementController</servlet-name>
        <url-pattern>/CustomerManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementController</servlet-name>
        <url-pattern>/OrderManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryOrderManagementController</servlet-name>
        <url-pattern>/DeliveryOrderManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderManagementController</servlet-name>
        <url-pattern>/PurchaseOrderManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceManagementController</servlet-name>
        <url-pattern>/InvoiceManagementController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
